
/*nav*/

header{
    width: 100%;
    height: 100wh;
    background-color: black;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin: 2rem;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover{
    color: red;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

/**/

body{
    background-image: url(img/2.jpg); /*¿Por que no funciona ahora? :'( */
    background-size: cover;
    background-color: black;
    font-family: 'Crimson Text', serif;
    
}

main{
    max-width: 1000px;
    width: 90%;
    margin: 40px auto;
}


/*Preguntas*/

.titulo{
    color: white;
    font-weight: 700;
    text-align: center;
    margin: 60px 0;
}

.contenedor-preguntas{
    display: grid;
    grid-template-columns: 1rf;
    gap: 40px;
}

.contenedor-pregunta{
    background-color: white;
    padding: 40px;
    border: 2px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease all;
    cursor: pointer;
}

.contenedor-pregunta:active {
    border: 2px red solid 
}

/*Pregunta*/

.pregunta{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.respuesta{
    color: rgb(59, 6, 6);
    line-height: 30px;
    max-height: 170px;
    opacity: 1;
    transition: .3s ease all;
}

/*.contenedor-pregunta:active .repuesta{
    max-height: unset;
    opacity: 1;
    margin-top: 20px;
}*/

.contenedor-pregunta:active i{
    transform: rotate(45deg);
}

/*footer*/
.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  
  [class^="footer-item"] a{
    color: white;
    font-size: 25px;
  }
  
  [class^="footer-item"]{
    grid-column: span 3;
  }
