@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap');



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/*Nav*/

header{
  width: 100%;
  height: 100wh;
  background-color: black;
}

nav{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 140px;
  margin-left: 20px;
}

.bar-btn{
  font-size: 25px;
  color: white;
  margin-right: 3rem;
  cursor: pointer;
}

.nav-menu{
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  transition: all .5s;
}

.nav-menu li{
  display: none;
  line-height: 30px;
  margin: 50px 0;
  transition: all .5s;
}

.nav-menu li a{
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover{
  color: red;
  transition: .3s;
}

#check{
  display: none;
}

#check:checked ~ .nav-menu{
  height: 100vh;
}

#check:checked ~ .nav-menu li{
  display: block;
}

/*Formulario*/

body{
  height: 100%; 
  font-family: 'Crimson Text', serif;;
  background-color: rgb(0, 0, 0) ;
  background-repeat: no-repeat;
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #a71313; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #a71313; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #000000; 
  border-color: black; 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: rgb(145, 17, 17); 
}


span{
  color: #a71313; 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color: #a71313;
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}


p{
  font-size: 14px; 
  color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}


/*Footer*/

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}


[class^="footer-item"] a{
  color: white;
  font-size: 25px;
}

[class^="footer-item"]{
  grid-column: span 3;
}


