
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: black;
    font-family: 'Crimson Text', serif;
}


.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.parrafo{
    margin-bottom: 20px;
}


/*nav*/

header{
    width: 100%;
    height: 100wh;
    background-color: black;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin: 2rem;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover{
    color: red;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}


/*Entradas*/

.entradas{
    color: white;
    height: auto;
}

.textos{
    grid-column: 1/-1;
    text-align: center;
}


.numbers{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.number{
    text-align: center;
    font-size: 30px;
    width: 22%;
}

.enlaces{
    padding: 3rem;
}

.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 20px 10px;
    text-align: center;
}


/*Footer*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px 0;
}

[class^="footer-item"] a{
    color: white;
    font-size: 25px;
}

[class^="footer-item"]{
    grid-column: span 3;
}


@media only screen and (max-width:1025px){
    .img-entradas{
        width: 90%;
        height: auto;
    }

    .item{
        width: 90%;
    }
    
}

@media only screen and (max-width:769px){
    .img-entradas{
        width: 80%;
        height: auto;
    }
    

    .number{
        width: 70%;
        padding: 0.3rem;
    }

}

@media only screen and (max-width:321px) {
    .img-entradas{
        width: 70%;
        height: auto;
    }

    .textos h2{
        font-size: 90%;
    }

    .img-item{
        width: 90%;
    }
    
    .number{
        width: 55%;
        padding: 0.3rem;
    }

}
