
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Crimson Text', serif;
}


.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 90%;
    max-width: 1100px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
    align-items: center;
}

.weight-400{
    font-weight: 400;
}

.weight-600{
    font-weight: 600;
}

.parrafo{
    margin-bottom: 20px;
}

/*
.header{
    color: #fff;
    background-image: url(413590.jpg);
    height: 400px;
}

.img-logo{
    width: 100%;
    height: auto;
    grid-column: 8/13;
}


.img{
    width: 95%;
    max-width: 400px;
}

.textos-hero{
    grid-column: 1/7;
    padding-right: 20px;
}

.textos-hero p{
    text-align: justify;
}

.cta{
    width: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: inline-block;
    text-align: center;
    padding: 10 px 0;
    text-decoration: none;
}
*/

/*nav*/

header{
    width: 100%;
    height: 100wh;
    background-color: black;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 140px;
    margin-left: 20px;
}

.bar-btn{
    font-size: 25px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, 0.75);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.nav-menu li a{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.nav-menu li a.active, .nav-menu li a:hover{
    color: red;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}



.enlaces{
    height: 370px;
    background: black;
}

.items{
    grid-column: 1/-1;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item{
    width: 30%;
    /*box-shadow: 0 0 6px rgb(0, 0, 0);*/
    overflow: hidden;
    height: 300px;
    width: 300px;
    padding: 20px 10px;
    text-align: center;
}


/*Entradas*/

.entradas{
    background-color:black;
    color: white;
    height: auto;
    padding-bottom:60px;
}

.textos{
    grid-column: 1/-1;
    text-align: center;
}


.numbers{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.number{
    text-align: center;
    font-size: 30px;
    width: 22%;
}


/*Footer*/

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 60px 0;
}

[class^="footer-item"] a{
    color: white;
    font-size: 25px;
}

[class^="footer-item"]{
    grid-column: span 3;
}

@media screen and (max-width:800px){
    .header{
        height: auto;
    }
    .grid{
        grid-gap: 30px;
    }

    .img-logo, .textos-hero{
        grid-column: 1/-1;
    }
    .img-logo{
        text-align: center;
    }
    .textos-hero{
        margin-top: 40px;
    }
    
    .item{
        width: 50%;
        margin: 40px 0;
        height: auto;
        padding: 40px;
    }

}

@media screen and (max-width:400px){
    .img{
        max-width: 170px;
    }
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    .item{
        width: 50%;
    }

    .number{
        width: 55%;
        margin-bottom: 20px;
        padding-bottom: 5px;
    }

    [class^="footer-item"]{
        grid-column: 1/-1;
    }
}